# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science

- List libraries for Data Science

- List tools for Data Science

Some of the popular languages that Data Scientists use are:
1. SQL
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
- Numby
- Scipy
- Keras

Data Science Tools|
-------------------
 Apache Hadoop     
 TensorFlow        
 RStudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Wejdan